.wrap {
	padding: 20px;
	background-color: #fbfbfb;
	width: 97%;
	margin: 10px auto;
	border: 1px solid lightgray;
	box-shadow: 0 1px 5px rgba(0,0,0,.1);
}

.border .table {
	margin-bottom: 0;
}

.btn {
	margin-bottom: 10px;
}

.border nav {
	float: right;
	margin-bottom: -15px;
}