.root {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.side-bar {
  flex: 0 0 260px;
  padding-right: 10px;
  border-right: 1px solid grey;
}

.side-bar .logo {
  margin: 5px 0;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 22px;
}

.content {
  flex: 1;
  min-height: 100vh;
  padding: 0 10px;
  background-color: #f0f2f5;
}

.header {
  margin: 0 -10px 10px;
}
.header .navbar-header {
  display: flex;
  justify-content: center;
  width: 80%;
}

.title {
	background-color: #4777e9;
	width: 97%;
	height: 40px;
	margin: 0px auto;
	boder: 1px solid darkblue;
	box-shadow: 1px 1px 3px #6588d1;
	border-radius: 5px;
	color: #f8fafc;
}

.title h4 {
	height: 100%;
	line-height: 40px;
	padding-left: 30px;
}

.border {
	background-color: #fffeff;
	width: 97%;
	margin: 10px auto;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 1px 3px 3px rgba(0,0,0,.1);
}
