.root {
 display: flex;
  flex-direction: row;
  /* width: 100vw; */
}

.side-bar {
 /* flex: 0 0 260px; */
  width: 17%;
  padding-right: 10px;
  border-right: 1px solid grey;
}

.side-bar .logo {
  margin: 5px 0;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 22px;
}

.side-bar .dropdown {
	display: none;
}

.content {
  /* flex: 1; */
  width: 83%;
  min-height: 100vh;
  padding: 0 10px;
  background-color: #f0f2f5;
}

.header {
  margin: 0 -10px 10px;
}
.header .navbar-header {
  display: flex;
  justify-content: center;
  width: 80%;
}

.title {
	background-color: #4777e9;
	width: 97%;
	height: 40px;
	margin: 0px auto;
	boder: 1px solid darkblue;
	box-shadow: 1px 1px 3px #6588d1;
	border-radius: 5px;
	color: #f8fafc;
}

.title h4 {
	height: 100%;
	line-height: 40px;
	padding-left: 30px;
}

.border {
	background-color: #fffeff;
	width: 97%;
	margin: 10px auto;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 1px 3px 3px rgba(0,0,0,.1);
}

a:hover {
    text-decoration: none;
    color: #0099FF;
    cursor: pointer;
}

.glyphicon {
	display: none;
}

@media screen and (max-width: 580px) {
	/*屏幕宽度小于等于580px才会显示该样式*/
	.root {
		display: flex;
		flex-direction: column;
	}
	.side-bar, .content {
		width: 100%;
	}
	.side-bar {
		padding-right: 0;
		background-color: #fffeff;
	}
	
	.side-bar .logo {
		margin: 0;
		height: 50px;
		line-height: 50px;
		background-color: #33373a;
		color: #fffeff;
		position: relative;
	}
	
	.glyphicon {
		display: inline-block;
		position: absolute;
		right: 10px;
		margin-top: 11px;
	}
	
	.side-bar .nav {
		display: flex;
		flex-direction: column;
		display: none;
	}
	
	.side-bar .dropdown {
		display: block;
	}
	
	.header {
		display: none;
		width: 100%;
	}
	
	.content {
		width: 100%;
	}
	
	.border, .title {
		width: 100%;
		margin: 10px 0;
	}
}