.toolInfo {
    position: relative;
    margin-bottom: 20px;
}

.toolInfo .mustInfo,
.imgArea {
    margin-top: 15px;
}

.toolInfo .mustInfo,
.toolInfo .otherInfo {
    position: relative;
    padding: 10px;
}

.toolInfo .mustInfo {
    border: 1px solid #CCCCCC;
    margin-bottom: 10px;
}

.mustInfo span {
    margin-right: 30px;
}

.toolInfo .otherInfo {
    margin-bottom: 30px;
}

.text-muted {
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 12px;
}

.toolInfo .otherInfo {
    border: 1px solid #CCCCCC;
}

.toolInfo .imgArea {
    width: 300px;
    height: 240px;
    margin-left: 100px;
    border: 1px solid rgba(73, 101, 142, .3);
    box-shadow: 0 1px 5px rgba(73, 101, 142, .2);
    border-radius: 5px;
    padding: 10px;
}

.imgArea img {
    width: 100%;
    height: 100%;
    background-color: #68b8ed;
}

.panel-title .btn {
    padding-left: 20px;
    padding-right: 20px;
}

.panel-title button,
.panel-title a {
    margin-right: 20px;
}

.panel-title .btn-primary {
    float: right;
}

.panel-body ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.panel-body ul li {
    padding-left: 10px;
    color: gray;
    width: 16.66%;
    margin-top: 10px;
}

.panel-body ul li span {
    display: inline-block;
    margin-right: 5px;
}

.panel-body ul li:last-child {
    color: #0099FF;
}

.toolInfo p {
    margin-left: 15px;
}