.alert {
	width: 400px;
	margin: 0 auto;
}

.input{
	display: flex;
	justify-content: space-between;
}

.toolFind {
	margin-bottom: 20px;
}

.toolFind .form-inline textarea {
	width: 300px;
	margin: 10px 30px 0px 0;
}

.toolFind button  {
	padding-left: 20px;
	padding-right: 20px;
}

.tool-return {
	margin-bottom: 20px;
	margin-right: 20px;
}

.tool-return a {
	float: right;
}

.toolFind form button {
	margin-top: 10px;
}

.toolFind form a {
	margin-top: 20px;
}

.toolList .table {
	margin-bottom: 0;
}

.toolList table a:hover {
	text-decoration: none;
	color: #0099FF;
	cursor: pointer;
}

.toolList nav {
	float: right;
	margin-bottom: -15px;
}

.content {
	width: 100%;
}

@media screen and (max-width: 580px) {
	/*屏幕宽度小于等于580px才会显示该样式*/
	.alert {
		width: 100%;
		margin: 10px 0;
	}
	.input {
		flex-wrap: wrap;
	}
	
	.input input {
		width: 45%;
		margin-top: 10px;
	}
	
	.toolFind .form-inline textarea {
		width: 100%;
	}
	
	.toolFind form button {
		float: right;
	}
}