.alert {
	width: 400px;
	margin: 0 auto;
}

.add {
	margin-bottom: 20px;
}

.formArea {
	display: flex;
	justify-content: space-between;
}

.button {
	float: right;
	margin-top: 20px;
}

.button button:nth-child(2) {
	margin-left: 20px;
}

.tableArea .table {
	margin-bottom: 0;
}

.tableArea nav {
	float: right;
	margin-bottom: 0;
}

@media screen and (max-width: 580px) {
	.alert {
		width: 100%;
	}
	.tableArea {
		margin: 0;
	}
	
	.wrap, .tableArea {
		width: 100%;
		margin: 10px 0;
	}
	.formArea {
		display: flex;
		flex-direction: column;
	}
	
}


