
<div class="title">
    <h4>夹具归还列表</h4>
</div>
<div class="border">
    <a href="../toolBorrow/index.html" class="btn btn-primary">返回首页</a>
    <table class="table table-striped">
        <tr>
            <th>Code</th>
            <th>借出时间</th>
            <th>归还时间</th>
            <th>归还库位</th>
            <th>操作</th>
        </tr>
        <tr>
            <td>EF0789-1</td>
            <td>2020-03-23 18:00</td>
            <td>2020-03-24 18:00</td>
            <td>16-A2</td>
            <td>
                <a data-toggle="modal" data-target="#returnModal">点击归还</a>
            </td>
        </tr>
        <tr>
            <td>EF0789-1</td>
            <td>2020-03-23 18:00</td>
            <td>2020-03-24 18:00</td>
            <td>16-A2</td>
            <td>
                <a data-toggle="modal" data-target="#returnModal">点击归还</a>
            </td>
        </tr>
        <tr>
            <td>EF0789-1</td>
            <td>2020-03-23 18:00</td>
            <td>2020-03-24 18:00</td>
            <td>16-A2</td>
            <td>
                <a data-toggle="modal" data-target="#returnModal">点击归还</a>
            </td>
        </tr>
    </table>
</div>
<!--Return Modal-->
<div class="modal fade" id="returnModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">夹具归还</h4>
            </div>
            <div class="modal-body">
                确认归还吗?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
    </div>
</div>